<div id="resultsView" ng-controller="resultsViewCtrl">
    
  <script type="text/ng-template" id="group-template.html">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a href tabindex="0" class="accordion-toggle" ng-click="toggleOpen()" uib-accordion-transclude="heading">
          <span uib-accordion-header ng-class="{'text-muted': isDisabled}">
            {{heading}}
          </span>
        </a>
      </h4>
    </div>
    <div class="panel-collapse collapse" uib-collapse="!isOpen">
      <div class="panel-body" style="text-align: right" ng-transclude></div>
    </div>
  </script>

  <uib-accordion close-others="oneAtATime">

    <div uib-accordion-group class="panel-default pdf-results" ng-repeat="response in responseAreas" is-open="response.isOpen">
      <uib-accordion-heading>
        {{response.title| translate}} <i class='pull-right glyphicon' ng-class='{"glyphicon-chevron-up": response.isOpen, "glyphicon-chevron-down": !response.isOpen}'></i>
      </uib-accordion-heading>
      <div class="panel-body">
        <div ng-if="response.responseArea == 'chaAudiometryResultsTable'">
            <div ng-init="resultsList = response.results[0]"
                ng-include="'scripts/components/response-areas/audiometry/audiometry-table/audiometry-table.html'">
            </div>
        </div>
        <div ng-if="response.responseArea == 'chaCalibrationCheck'">
            <div ng-init="state='results';calibrationData = response.results"
                ng-include="'scripts/components/response-areas/cha-complex-response-areas/calibration-check/calibration-check.html'">
            </div>
        </div>
        <div ng-if="response.responseArea == 'chaManualScreener'">
          <div ng-init="resultsList = response.results"
              ng-include="'scripts/components/response-areas/cha-complex-response-areas/manual-screener/manual-screener-table.html'">
          </div>
        </div>
        <div ng-if="response.responseArea == 'chaAudiometryResultsPlot'">
            <div ng-init="audiogramData = response.results[1]"
                ng-include="'scripts/components/response-areas/audiometry/audiogram/audiogram.html'"></div>
        </div>
        <div ng-if="response.responseArea == 'multipleInputResponseArea'">
          <table class="table">
            <tbody>
              <tr ng-repeat="item in response.results">
                <th class="align-right width-50">{{item.key}}:</th>
                <td>{{item.value}}</td>
              </tr>
            </tbody>
          </table>  
        </div>
        <div ng-if="response.responseArea == 'mpanlResponseArea'">
            <div ng-init="state='results';mpanlsData=response.results"
                ng-include="'scripts/components/response-areas/mpanls/mpanls.html'">
            </div>
        </div>
        <div ng-if="response.responseArea == 'textboxResponseArea'">
          <textarea disabled rows="{{response.rows}}" autofocus="true" maxlength="250">
            {{response.results}}
          </textarea>
        </div>
        <div ng-if="response.responseArea == 'chaThreeDigit'">
          <table class="table table-condensed">
            <thead>
              <tr>
                <th scope="col">Digit Score</th>
                <th scope="col">Level Units (dB SPL)</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>{{response.results.digitScore}}</td>
                <td>{{response.results.fixedLevel}}</td>
              </tr>
            </tbody>
          </table>
        </div>
        <div ng-if="response.responseArea == 'likertResponseArea'">
          <div ng-init="questions=response.results.page.responseArea.questions;selected=response.results.response"
              ng-include="'scripts/components/response-areas/likert/likert.html'" style="pointer-events: none">
          </div>
        </div>
      </div>
    </div>

    <div uib-accordion-group class="panel-default pdf-results" style="text-align:left" is-open="adminLogic.panes.config.equipment">
      <uib-accordion-heading>
        {{'Equipment'| translate}} <i class='pull-right glyphicon' ng-class='{"glyphicon-chevron-up": adminLogic.panes.config.equipment, "glyphicon-chevron-down": !adminLogic.panes.config.equipment}'></i>
      </uib-accordion-heading>
      <table class="table">
        <tbody>
          <tr>
            <th class="align-right width-50">Device Name:</th>
            <td>{{equipment.name}}</td>
          </tr>
          <tr>
            <th class="align-right width-50">{{headset}} Calibration Date:</th>
            <td>{{equipment.id.chaCalibrationDate}}</td>
          </tr>
          <tr>
            <th class="align-right width-50">{{headset}} Serial Number:</th>
            <td>{{equipment.id.serialNumber}}</td>
          </tr>
          <tr>
            <th class="align-right width-50">TabSINT Version:</th>
            <td>{{version}}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </uib-accordion>

  <div>
    <input id="saveAsPDF" type="checkbox" ng-model="pdfExportEnabled" /> <label for="saveAsPDF" style="margin-left: 8px;">Save Copy as PDF</label>
  </div>

</div>
