<div class="container" ng-if="(chaExams.examProperties.F || chaExams.examProperties.Frequency || chaExams.examProperties.Fstart || chaExams.examProperties.L0 || chaExams.examProperties.FixedLevel || chaExams.examProperties.Level || chaExams.examProperties.OutputChannel || chaExams.examProperties.ReferenceSignalEar || chaExams.examProperties.TestEar)">
  <div ng-if="hideExamProperties !== 'always'">
    <table class="audiometry-intro">
      <thead>
        <tr>
          <!-- Level, F are "standard" params -->
          <!-- FixedLevel and Frequency are for chaMLD -->
          <!-- TestEar is for chaMaskedThreshold -->
          <!-- L0 and Fstart is for chaBHAFT -->
          <th ng-if="chaExams.examProperties.Level" scope="col">{{'Level'|translate}}</th>
          <th ng-if="chaExams.examProperties.FixedLevel" scope="col">{{'Level'|translate}}</th>
          <th ng-if="chaExams.examProperties.L0" scope="col">{{'Level'|translate}}</th>

          <th ng-if="chaExams.examProperties.F" scope="col">{{'Frequency'|translate}}</th>
          <th ng-if="chaExams.examProperties.Frequency" scope="col">{{'Frequency'|translate}}</th>
          <th ng-if="chaExams.examProperties.Fstart" scope="col">{{'Frequency'|translate}}</th>

          <th ng-if="chaExams.examProperties.OutputChannel" scope="col">{{'Ear'|translate}}</th>
          <th ng-if="chaExams.examProperties.ReferenceSignalEar" scope="col">{{'Ear'|translate}}</th>
          <th ng-if="chaExams.examProperties.TestEar" scope="col">{{'Ear'|translate}}</th>

        </tr>
      </thead>
      <tbody>
        <tr>
          <td ng-if="chaExams.examProperties.Level">{{chaExams.examProperties.Level}}</td>
          <td ng-if="chaExams.examProperties.FixedLevel">{{chaExams.examProperties.FixedLevel}}</td>
          <td ng-if="chaExams.examProperties.L0">{{chaExams.examProperties.L0}}</td>

          <td ng-if="chaExams.examProperties.F"><b>{{chaExams.examProperties.F / 1000}}</b> kHz</td>
          <td ng-if="chaExams.examProperties.Frequency"><b>{{chaExams.examProperties.Frequency / 1000}}</b> kHz</td>
          <td ng-if="chaExams.examProperties.Fstart"><b>{{chaExams.examProperties.Fstart / 1000}}</b> kHz</td>

          <td ng-if="chaExams.examProperties.OutputChannel === 'HPL0'" class="caption-left">{{'Left'|translate}}</td>
          <td ng-if="chaExams.examProperties.OutputChannel === 'HPR0'" class="caption-right">{{'Right'|translate}}</td>
          <td ng-if="chaExams.examProperties.OutputChannel === 'HPL0 HPR0'" class="caption-both">{{'Both'|translate}}</td>
          <td ng-if="chaExams.examProperties.ReferenceSignalEar === 0" class="caption-left">{{'Left'|translate}}</td>
          <td ng-if="chaExams.examProperties.ReferenceSignalEar === 1" class="caption-right">{{'Right'|translate}}</td>
          <td ng-if="chaExams.examProperties.ReferenceSignalEar === 2" class="caption-both">{{'Both'|translate}}</td>
          <td ng-if="chaExams.examProperties.TestEar === 'Left'" class="caption-left">{{'Left'|translate}}</td>
          <td ng-if="chaExams.examProperties.TestEar === 'Right'" class="caption-right">{{'Right'|translate}}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>