<table class="table table-audiometry table-layout-fixed">
  <caption class="caption-left">Left</caption>
  <tbody >
    <tr >
      <th>{{'Frequency (kHz)'|translate}}</th>
      <td ng-repeat="result in resultsList">
        {{result.frequency / 1000}} 
      </td>
    </tr>
    <tr ng-repeat="lvl in levels">
      <th>{{lvl}} {{'(dB HL)'|translate}}</th>
      <td ng-repeat="result in resultsList" ng-style="{'color':result.Left.results[result.Right.levels.indexOf(lvl)] == 'REFER' ? 'red': 'black'}">
        {{result.Left.results[result.Left.levels.indexOf(lvl)]}}
      </td>                      
    </tr>
  </tbody>
</table>

<table class="table table-audiometry table-layout-fixed">
  <caption class="caption-right">Right</caption>
  <tbody >
    <tr >
      <th>{{'Frequency (kHz)'|translate}}</th>
      <td ng-repeat="result in resultsList">
        {{result.frequency / 1000}}
      </td>
    </tr>
    <tr ng-repeat="lvl in levels ">
      <th>{{lvl}} {{'(dB HL)'|translate}}</th>
      <td ng-repeat="result in resultsList" ng-style="{'color':result.Right.results[result.Right.levels.indexOf(lvl)] == 'REFER' ? 'red': 'black'}">
        {{result.Right.results[result.Right.levels.indexOf(lvl)]}}
      </td>                      
    </tr>
  </tbody>
</table>