<!--
* This file is subject to the terms and conditions defined in
* file 'LICENSE.txt', which is part of this source code package.
-->
<div class="modal-header">
    Authorization Required
</div>

<div class="modal-body">
    <div class="row">
        <div class="col-xs-6" translate>
            Please enter PIN:
        </div>
        <div class="col-xs-6" translate>
            <input class="form-control pin-entry" type="number" ng-model="pin" pattern="[0-9]*" placeholder="PIN" autofocus="true" enter-close />
        </div>

    </div>
</div>

<div class="modal-footer">
    <button type="button" class="btn btn-primary" ng-click="ok(pin)">Authorize</button>
    <button type="button" class="btn btn-warning" ng-click="cancel()">Cancel</button>
</div>
