<div ng-controller="MrtResponseAreaCtrl">

<div ng-if="!page.dm.loadingActive">
  <div ng-repeat="row in rows" >
    <div class="col-xs-4" ng-repeat="choice in row" ng-controller="BasicChoiceController" ng-style="{{spacing}}" style="margin-bottom: 15px">
      <button type="button" ng-disabled="choicesDisabled" ng-bind="label" ng-click="choose()" name="{{label}}"
          ng-class="
            {
                  'btn btn-default btn-block':true,
                  'btn-default active' : (!gradeResponse && !showCorrect) && chosen(),
                  'btn-disabled' : gradeResponse || showCorrect || choicesDisabled,
                  'btn-success' : (gradeResponse || showCorrect) && chosen() && isCorrect(),
                  'btn-danger' : (gradeResponse || showCorrect) && chosen() && !isCorrect(),
                  'btn-faded' : showCorrect && !isCorrect() && !chosen()
                } 
          " ></button>
    </div>
  </div>
  <div class="loading"></div>
  </div>
</div>

<!-- put ng-class above on each button in buttonGrid -->
