<!--
* Author: Brendan Flynn
* Date: 09 March, 2016
* This file is subject to the terms and conditions defined in
* file 'LICENSE.txt', which is part of this source code package.
-->

<div ng-controller="ChaComplexResponseAreaCtrl">
  <div ng-if="!cha.isBluetoothBuild()">
    <h4 translate>Error: This exam requires bluetooth</h4><br />
    <h5 translate>This build of TabSINT does not support these features. Please contact an administrator.</h5>
  </div>

  <div ng-if="cha.isBluetoothBuild() && !(cha.state === 'connected')">
    <h4 translate>The WAHTS is not connected </h4>
    <br />
    <h5 translate>Please try reconnecting, or hand the device to an administrator</h5>
    <br />

    <div ng-if="myCha">
      <button ng-if="cha.state === 'disconnected'" type="button" class="btn btn-default" ng-disabled="cha.state !== 'disconnected'"  ng-click="cha.tryReconnect()" translate>Try Reconnecting</button>
      <div ng-if="cha.state !== 'disconnected'">
        <h4 translate=""> Attempting to Reconnect</h4><br />
        <h4 ng-if="debugMode"> {{'WAHTS State:' | translate}} {{cha.state}} </h4><br />
      </div>
    </div>
    <br /><br />

  </div>

  <div ng-if="cha.state === 'connected'">
    <div ng-if="chaError">
      <p>{{errorMessage}}</p>
      <p>Please hand the device to an administrator.</p>
    </div>

    <div ng-if="!chaError">
      <div ng-if="chaExams.complexExamType === 'ManualScreener'"><manual-screener-exam/></div>
      <div ng-if="chaExams.complexExamType === 'RecordFile'"><record-file/></div>
      <div ng-if="chaExams.complexExamType === 'ManualAudiometry'"><manual-audiometry/></div>
      <div ng-if="chaExams.complexExamType === 'ManualAudiometryExam'"><manual-audiometry-exam/></div>
      <div ng-if="chaExams.complexExamType === 'ManualToneGeneration'"><manual-tone-generation-exam/></div>
      <div ng-if="chaExams.complexExamType === 'PlaysoundArray'"><playsound-array/></div>
      <div ng-if="chaExams.complexExamType === 'GAP'"><gap-exam/></div>
      <div ng-if="chaExams.complexExamType === 'CalibrationCheck'"><calibration-check-exam/></div>
    </div>
  </div>
</div>
