<div ng-controller="calibrationCheckCtrl">

  <div ng-if="state === 'start'">
    <!-- This should allow the user to queue calibration check exam. -->
    <button type="button" class="btn btn-default" ng-click="startCalibrationCheckExam()">Start Calibration Check</button>
  </div>

  <div ng-if="state === 'running'">
    <!-- Indicate the check is running. -->
    <h4 style="margin-top:0;">
      Please wait, the calibration check is running.
    </h4>
  </div>

  <div ng-if="state === 'results'" class="cha-results">
    <!-- Show the bar plots. -->
    <calibration-plot data="calibrationData"></calibration-plot>
    <!-- Show results in horizontal table -->
    <h4 class="cal-check-title" id="tblCalibration">Calibration Results Table</h4>
    <table class="cal-check-table" aria-describedby="tblCalibration">
      <tbody>
      <tr class="cal-check-frequencies">
        <th scope="row"><b>Frequency (kHz)</b></th>
        <td ng-repeat="i in calibrationData.left.frequencies" ng-if="(calibrationData.left.frequencies[$index] == 6000 || calibrationData.left.frequencies[$index] < 6000) && (calibrationData.left.frequencies[$index] == 500 || Number.isInteger(calibrationData.left.frequencies[$index]/1000))"><b>{{calibrationData.left.frequencies[$index]/1000}}</b></td>
      </tr>
      <tr>
        <th scope="row">Left (dB)</th>
        <td ng-repeat="i in calibrationData.left.frequencies" ng-if="(calibrationData.left.frequencies[$index] == 6000 || calibrationData.left.frequencies[$index] < 6000) && (calibrationData.left.frequencies[$index] == 500 || Number.isInteger(calibrationData.left.frequencies[$index]/1000))" class="cal-check-measured">{{Math.trunc(calibrationData.left.measured[$index])}}</td>
      </tr>
      <tr>
        <th scope="row">Right (dB)</th>
        <td ng-repeat="i in calibrationData.left.frequencies" ng-if="(calibrationData.left.frequencies[$index] == 6000 || calibrationData.left.frequencies[$index] < 6000) && (calibrationData.left.frequencies[$index] == 500 || Number.isInteger(calibrationData.left.frequencies[$index]/1000))" class="cal-check-measured">{{Math.trunc(calibrationData.right.measured[$index])}}</td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
