<div ng-controller="MPANLsExamCtrl">
    <div ng-if="state === 'start'" style="vertical-align: middle">

        <button type="button" class="button btn btn-default" ng-click="newMPANLsExam(3000)" translate>3 seconds</button>
        <br /><br />
        <button type="button" class="button btn btn-default" ng-click="newMPANLsExam(10000)" translate>10 seconds</button>
        <br /><br />
        <button type="button" class="button btn btn-default" ng-click="skipExam()" translate>Skip Exam</button>
    </div>

    <div ng-if="state === 'results'" class="cha-results">

      Standard: {{mpanlsData.standard}}<br/>
      Headset: {{mpanlsData.headset}}
      <mpanls-plot data="mpanlsData"></mpanls-plot>

      <div class="cha-results" ng-if="mpanlsData">
        <div >
          <table class="audiogram-table">
            <thead>
              <tr>
                <th scope="col"><b>Frequency (Hz)</b></th>
                <th scope="col"><b>Measured Noise<br />Levels<br />(dB SPL)</b></th>
                <th scope="col"><b>WAHTS Attenuation<br />(S12.6-2008)<br />(dB SPL)</b></th>
                <th scope="col"><b>Estimated Background<br />Noise Levels<br />Under {{mpanlsData.headset}}<br />(dB SPL)</b></th>
              </tr>
            </thead>
            <tbody>
              <tr ng-repeat="result in mpanlsData">
                <td>{{result.freq}}</td>
                <td>{{result.level}}</td>
                <td>{{result.att}}</td>
                <td>{{result.levelUnderWAHTS}}</td>
              </tr>
            </tbody>
          </table>
          <br />
        </div>
      </div>

      <div style="vertical-align: middle" ng-hide="pdfDisplay">
        <button type="button" class="button btn btn-default" ng-click="repeatMPANLs(3000)">Repeat 3 sec. background noise measurement</button>
      </div>
      <br />
      <div  style="vertical-align: middle" ng-hide="pdfDisplay">
        <button type="button" class="button btn btn-default" ng-click="repeatMPANLs(10000)">Repeat 10 sec. background noise measurement</button>
      </div>

      <div ng-if="dataError">
        Test Failed: {{dataError}}
      </div>

    </div>
</div>
