<div ng-controller="CustomResponseAreaCtrl">

  <div ng-if="!loadSuccess && !loadError">
    <h3>Custom HTML loading...</h3>
  </div>

  <!--Include the custom html from the user defined file-->
  <div ng-if="loadSuccess" ng-include="html"></div>

  <!--Include if the load has an error-->
  <div ng-if="loadError">
    <h3>[Error loading custom Javascript]</h3>
  </div>

</div>