<div ng-controller="ThreeDigitTestResponseAreaCtrl">

  <form name="myForm">
    <table class="keypad">
      <tr class="three-digit-row">
        <td><div ng-class="(digitCorrect[0])? 'three-digit-response-correct':'three-digit-response-incorrect'" ng-bind="response[0]"></div></td>
        <td><div ng-class="(digitCorrect[1])? 'three-digit-response-correct':'three-digit-response-incorrect'" ng-bind="response[1]"></div></td>
        <td><div ng-class="(digitCorrect[2])? 'three-digit-response-correct':'three-digit-response-incorrect'" ng-bind="response[2]"></div></td>
      </tr>
      <tr>
        <td><button type="button" class="btn btn-default btn-block" ng-disabled="digitsDisabled" ng-click="addDigit(1)">1</button></td>
        <td><button type="button" class="btn btn-default btn-block" ng-disabled="digitsDisabled" ng-click="addDigit(2)">2</button></td>
        <td><button type="button" class="btn btn-default btn-block" ng-disabled="digitsDisabled" ng-click="addDigit(3)">3</button></td>
      </tr>
      <tr>
        <td><button type="button" class="btn btn-default btn-block" ng-disabled="digitsDisabled" ng-click="addDigit(4)">4</button></td>
        <td><button type="button" class="btn btn-default btn-block" ng-disabled="digitsDisabled" ng-click="addDigit(5)">5</button></td>
        <td><button type="button" class="btn btn-default btn-block" ng-disabled="digitsDisabled" ng-click="addDigit(6)">6</button></td>
      </tr>
      <tr>
        <td><button type="button" class="btn btn-default btn-block" ng-disabled="digitsDisabled" ng-click="addDigit(7)">7</button></td>
        <td><button type="button" class="btn btn-default btn-block" ng-disabled="digitsDisabled" ng-click="addDigit(8)">8</button></td>
        <td><button type="button" class="btn btn-default btn-block" ng-disabled="digitsDisabled" ng-click="addDigit(9)">9</button></td>
      </tr>
      <tr>
        <td><button type="button" class="btn btn-block btn-default symbol" ng-disabled="digitsDisabled" ng-click="resetKeypad()"><span class="glyphicon glyphicon-remove"></span><br />clear</button></td>
        <td><button type="button" class="btn btn-default btn-block" ng-disabled="digitsDisabled" ng-click="addDigit(0)">0</button></td>
        <td></td>
      </tr>
    </table>
  </form>

</div>