
<div ng-if="chaExams.state === 'exam'">

<!--  <div style="text-align: center; vertical-align: middle">
    Measuring DPOAE.
  </div>-->
</div>
<div ng-if="chaExams.state === 'results'" class="cha-results">

  <div>
    F1 Amplitude: <span ng-style="f1Style">{{f1Amp}}</span>
  </div>

  <div>
    F2 Amplitude: <span ng-style="f2Style">{{f2Amp}}</span>
  </div>

  <div ng-if="page.dm.responseArea.displayIds" class="cha-results">
    <dpoae-plot data="dpoaeData"></dpoae-plot>
  </div>

  <div ng-if="dataError">
    Test Failed: {{dataError}}
  </div>

</div>

