<div ng-controller="LikertResponseAreaCtrl">

    <style>
        .slidecontainer {
            position: relative;
        }

        .slider {
            -webkit-appearance: none;
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 10px;
            border-radius: 5px;
            background: #d3d3d3;
            outline: none;
            opacity: 0.7;
            -webkit-transition: .2s;
            transition: opacity .2s;
        }

        .slider2 {
            -webkit-appearance: none;
            position: absolute;
            top: 5;
            /*Slider size is zero so nees to be 10px lower to be center with slider #1*/
            left: 0;
            width: 100%;
            height: 0px;
            border-radius: 5px;
            background: #d3d3d3;
            outline: none;
            opacity: 0.7;
            -webkit-transition: .2s;
            transition: opacity .2s;
        }

        .green::-webkit-slider-thumb {
            -webkit-appearance: none;
            appearance: none;
            width: 20px;
            height: 20px;
            border-radius: 50%;
            background: #00FF00;
            cursor: pointer;
        }

        .red::-webkit-slider-thumb {
            -webkit-appearance: none;
            appearance: none;
            width: 20px;
            height: 20px;
            border-radius: 50%;
            background: #FF0000;
            cursor: pointer;
        }

        .init::-webkit-slider-thumb {
            -webkit-appearance: none;
            appearance: none;
            width: 5px;
            height: 5px;
            border-radius: 50%;
            background: #d3d3d3;
            cursor: pointer;
        }
    </style>

    <div class="row likert">

        <form name="LikertForm">

            <p class="top primary likert-label" ng-if="responseArea.centerLabelAbove">
                {{page.dm.responseArea.centerLabelAbove}}
            </p>

            <div ng-repeat="question in questions track by $index" ng-init="parentIndex = $index" class="likert-row">

                <p ng-style="{'font-size': question.questionFontSize,'text-align': 'left'}"
                    ng-bind-html="trustedHtml(question.text)" class="likert-question-text">
                    {{question.text}}
                </p>

                <div ng-if="question.topLabelsAreSpacious" class="likert-labels"
                    ng-style="{'font-size': question.labelFontSize + 'px'}">
                    <div ng-repeat="label in question.topLabels track by $index" ng-style="{'align-self': 'flex-end'}">
                        {{label}}
                    </div>
                </div>

                <div class="likert-wrapper" ng-if="!question.continious" ng-init="chosenResponse=selectedResponse">
                    <a ng-repeat="level in question.levels"
                        ng-class="{'likertborder':chosen(), 'likert-icons': useEmoticons, 'likert-input': !useEmoticons}"
                        href="#" ng-click="choose(parentIndex)" ng-controller="LikertChoiceController"
                        ng-if="level !== ''" ng-init="sectionIndex = $index">
                        <span>
                            <!-- need this wrapper span for layout -->
                            <span ng-if="useEmoticons" class="likert-emoji">
                                {{btnSrc(sectionIndex)}}
                            </span>
                            <span class="icon-text" ng-style="{'font-size': question.labelFontSize + 'px'}"
                                ng-if="!question.topLabelsAreSpacious">
                                {{question.topLabels[sectionIndex]}}
                            </span>
                            <img ng-if="!useEmoticons" ng-src="{{btnSrc(sectionIndex)}}" class="likert-button" alt="" />
                            <span class="icon-text" ng-style="{'font-size': question.labelFontSize + 'px'}"
                                ng-if="!question.bottomLabelsAreSpacious">
                                {{question.bottomLabels[sectionIndex]}}
                            </span>
                        </span>
                    </a>
                </div>

                <div ng-if="question.bottomLabelsAreSpacious" class="likert-labels"
                    ng-style="{'font-size': question.labelFontSize + 'px'}">
                    <div ng-repeat="label in question.bottomLabels track by $index">
                        {{label}}
                    </div>
                </div>

                <div ng-if="question.continious" class="slidecontainer"
                    ng-style="{'padding-bottom': 10,'margin-left': question.margin_left, 'width': question.width}">
                    <!--HG;Padding by the size of the slider bar!-->
                    <input ng-class="(question.hideDefault&&'init')||(!question.hideDefault&&'green')"
                        ng-disabled="question.static" type="range" min="0" max="100" class="slider"
                        ng-model="question.default" ng-attr-id="{{ 'myRange' + ($index+1) }}">
                    <input ng-if="question.showFeedback&&showFeedback" ng-class="'red'" type="range" min="0" max="100"
                        class="slider2" id="myRange2" ng-model="question.correct">
                </div>
            </div>

            <p class="bot primary likert-label" ng-if="!!(responseArea.centerLabelBelow)">
                {{page.dm.responseArea.centerLabelBelow}}
            </p>

        </form>

    </div>
</div>